extends ../layouts/default

block content
	.container
		#splash.slide
			#left-promo.promo
			#logo-center
			#right-promo.promo
		each member in members
			.slide(id='#{member._id}', style='background-image: url(#{member.image.url})')
				a.member-name(href="/#{member._id}") #{member.name}
				if members.length == member.index
				else
					div(class="to-next #{member.index}")
						a.text(data-index="#{member.index}", href="#"+member.nextId) TO NEXT
				a.text.to-top BACK TO TOP
