extends ../layouts/default

block content
	.container
		#splash(class="slide #{assets[0].homepageBackground}")
			a(href="#{assets[0].promoLeftUrl}")
				img#left-promo.promo(src='#{assets[0].promoLeft.url}')
			a(href="/about/sandbox")
				img#logo-center(src='#{assets[0].mainLogo.url}')
			a(href="#{assets[0].promoRightUrl}")
				img#right-promo.promo(src='#{assets[0].promoRight.url}')

		each member in members
			.slide(id='#{member._id}', style='background-image: url(#{member.image.url})')
				a.member-name(href="/#{member._id}") #{member.name}
				div.member-shortBio
					a #{member.shortBio}
				if members.length == member.index
				else
					div(class="to-next #{member.index}")
						a(data-index="#{member.index}", href="#"+member.nextId)
							img.nextArrow.default-arrow(src='#{assets[0].nextArrowDefault.url}')
							img.nextArrow.hover-arrow(src='#{assets[0].nextArrowHover.url}')
				//a.text.to-top BACK TO TOP
