extends ../layouts/default

block content
	.container
		#splash.slide
			#left-promo.promo
			#logo-center
			#right-promo.promo
		each member in members
			.slide(id='#{member._id}', style='background-image: url(#{member.image.url})')
				a.member-name(href="/#{member._id}") #{member.name}
				div.member-shortBio
					a #{member.shortBio}
				if members.length == member.index
				else
					div(class="to-next #{member.index}")
						each asset in assets
							a(data-index="#{member.index}", href="#"+member.nextId)
								img.nextArrow(src='#{asset.nextArrow.url}')
				a.text.to-top BACK TO TOP
