extends ../layouts/default

block content
    if member
        .container.member-wrapper(style="background-color:#{member.color}")
            h1.member-name #{member.name}
            div.row(style="margin-left: 0px; margin-right: 0px; ")
                div.left-container.col-xs-4
                    div.member-bio
                        h4
                            b About
                        p.textContent #{member.bio}
                    div.member-location
                        h4
                            b Location
                        p #{member.location}
                div.col-xs-4
                    img.member-image(src='#{member.logo.url}')
                div.col-xs-4.right-container
                    div.member-products
                        h4
                            b Products
                        p.textContent #{member.products}
                    div.member-contact
                        h4
                            b Contact
                        p.textContent Please follow our social media accounts at:
                        p.textContent
                            a.link_to_twitter(href="#{member.link_to_twitter}") Twitter
                        p.textContent
                            a.link_to_eventbrite(href="#{member.link_to_eventbrite}") Eventbrite
                        p.textContent
                            a.link_to_facebook(href="#{member.link_to_facebook}") Facebook
                        p.textContent
                            a.link_to_pinterest(href="#{member.link_to_pinterest}") Pinterest
            div.slideshow
                .slideshow-container
                    img.slideshow-image(src='#{member.slideshowImage1.url}')
                    img.slideshow-image(src='#{member.slideshowImage2.url}')
                    img.slideshow-image(src='#{member.slideshowImage3.url}')
                    img.slideshow-image(src='#{member.slideshowImage4.url}')
                    img.slideshow-image(src='#{member.slideshowImage5.url}')




