extends ../layouts/default

block content
  .container
    p Name: #{member.name}
    p Bio: #{member.bio}
    p Site: #{member.site}
    img(src='#{member.image.url}', width='#{member.image.width}', height='#{member.image.height}')